# Токен Discord-бота (Developer Portal -> Bot -> Reset Token)
DISCORD_TOKEN="123"

# Токен Яндекс Музыки
YANDEX_TOKEN="123"

# Путь к ffmpeg (по умолчанию: .\ffmpeg\bin\ffmpeg.exe) - уже лежит в корне проекта
FFMPEG_PATH=.\ffmpeg\bin\ffmpeg.exe

# Голосовое прослушивание — опционально. Не работает, т.к. разработчики Discord вырезали функционал (2026 год)
VOSK_MODEL_PATH=.\model

#Для синхронизации команд (ID сервера)
GUILD_ID="123"

#Токен ТГ бота
TELEGRAM_TOKEN="123" 

# ID Вашего аккаунта ТГ - можно несколько, через запятую
TELEGRAM_ADMIN_ID="123, 123"

# ID Вашего основного канала на Discord-сервере
VOICE_CHANNEL_ID="123"

#UPD: не забудьте включить режим разработчика в приложении Discord